<div class="login-container">
  <div class="login-box">
    <h2>Ingreso</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input class="form-control" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input class="form-control" id="password" type="password" [(ngModel)]="password" name="password" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
    </form>
  </div>
</div>
