<div class="row">
  <modal-mensaje
            [popUpModalMensaje]="popUpModalMensaje" 
            (response)="closeModalMensaje($event)"
            [modalMensaje]="modalMensaje"
            >
  </modal-mensaje>
  <div *ngIf="legajoHabilitado" class="col">
    <label for="legajo">Legajo chofer: </label> <br>
    <input #l
      [ngClass]="{'requerido': searchTerm == ''}"
      type="text"
      name="legajo"
      id="legajo"
      placeholder="Buscar legajo"
      [(ngModel)]="searchTerm"
      (input)="filterLegajos()"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />
    <label *ngIf="searchTerm== '' " for="legajo">Campo requerido</label> 
    <ul *ngIf="isInputFocused" class="list-group">
      <li *ngFor="let legajo of filteredLegajoList" (click)="selectLegajo(legajo)" class="list-group-item">
        {{ legajo.nombre }} {{ legajo.apellido }} - {{ legajo.numeroLegajo }}
      </li>
    </ul>
    
  </div>
<div *ngIf="legajoAcomHabilitado">
  <div  class="col" >
    <input #checkAcompanante (change)="0" type="checkbox" id="visibleAcompanante" value=true>
    <label for="visibleAcompanante">Acompañante</label> 
  </div>

  <div *ngIf="legajoAcomHabilitado" class="col">
    
    
    <div *ngIf="checkAcompanante.checked">
      <label for="legajoAcom">Legajo chofer: </label> <br>
      <input 
        type="text"
        id="legajoAcom"
        placeholder="Buscar legajo"
        name="legajoAcompañante" 
        [(ngModel)]="searchTermAcompanante"
        (input)="filterLegajosAcompanante()"
        (focus)="onFocusAcompanante()"
        (blur)="onBlurAcompanante()"
      />
    </div>

    <ul class="list-group" *ngIf="isInputFocusedAcompanante">
      <li class="list-group-item" *ngFor="let legajo of filteredLegajoAcompananteList" (click)="selectLegajoAcompanante(legajo)">
        {{ legajo.nombre }} {{ legajo.apellido }} - {{ legajo.numeroLegajo }}
      </li>
    </ul>
    
  </div>
</div>
  <div *ngIf="movilHabilitado" class="col">
    <label for="movil">Movil:</label> <br>
    <input
      [ngClass]="{'requerido': searchTermMovil ==''}"
      type="text"
      placeholder="Buscar Movil"
      id="movil"
      name="movil" 
      [(ngModel)]="searchTermMovil"
      (input)="filterMoviles()"
      (focus)="onFocusMovil()"
      (blur)="onBlurMovil()"
    />
    <label *ngIf="searchTermMovil== '' " for="movil">Campo requerido</label> 
    <ul class="list-group" *ngIf="isInputFocusedMovil">
      <li class="list-group-item" *ngFor="let movil of filteredMovilList" (click)="selectMovil(movil)">
        {{ movil.dominio }} - {{ movil.numeroInterno }}
      </li>
    </ul>
  </div>
</div>