
.caja-info {
  display: flex;
  flex-direction: flex; /* Coloca los elementos en una columna */
  gap: 10px; /* Añade un espacio de 10px entre los elementos */
  margin: 20px 0; /* Añade un margen superior e inferior de 20px */
  padding: 10px; /* Añade un espacio interior de 10px */
  border: 1px solid #ccc; /* Opcional: un borde alrededor del contenedor */
  border-radius: 8px; /* Opcional: bordes redondeados */
  background-color: #f9f9f9; /* Opcional: fondo claro */
  margin-right: 10px; }
